#Archivo de ejemplo template ejecutado desde ansible escrito en jinja2
#https://jinja.palletsprojects.com/en/3.0.x/

#Variable= {{ Variable_Vars_main |upper }}

Nombre Grupo: {{ Grupo_5 }}
División: 314 
Fecha: 26/06/2025
—-------------------------
Distribución: 
Cantidad de Cores: 
—-------------------------
R1: Nombre: Mauro     Apellido: Laime
R2: Nombre: Adrian    Apellido: Ferrera
R3: Nombre: Mauro     Apellido: Laime
R4: Nombre: Gomez     Apellido: Emilse
R5: Nombre: Carla     Apellido: Lopez 
R6: Nombre: Nicolas   Apellido: Margni
